---
import IconStudio from "../components/IconStudio";
import Layout from "../layouts/Layout.astro";
import ChannelPreviewStudio from "../components/ChannelPreviewStudio.astro";
import ChannelPreview from "../components/ChannelPreview.astro";

let channelsToFetch: string[] = [];
await fetch(`https://api.jsalstats.xyz/channels`)
	.then((res) => res.json())
	.then((data) => {
		channelsToFetch = data.nonstudio;
	});
---

<Layout title="Home" description="Home of JSALStats">
	<main>
		<h1>
			JSALStats <span class="text-gradient">Site<small>ALPHA</small></span
			>
		</h1>
		<p class="instructions">
			⚠️ JSALStats.xyz is in <b>ALPHA</b><br />The site will be broken or
			feeling lacklustre before going into beta<br />Last Updated: <b
				>19/06/24</b
			><br />
			Report bugs on either <a href="https://twitter.com/reallygalvin"
				>Twitter</a
			> or on <a href="https://github.com/JSALStats/site/issues">GitHub</a
			><br /><br />
			<b
				>You can only see the subscriber counts of the channels for the
				moment. More will be added!</b
			><br />
			Please note that all the code is on the "dev" branch
		</p>
		<p class="instructions">
			<IconStudio /> means data comes from the Studio!
		</p>
		<ul role="list" class="link-card-grid">
			<ChannelPreviewStudio />
		</ul>
		<p class="instructions">
			Non Studio Channels! Subscriber counts are abbreviated
		</p>
		<ul role="list" class="link-card-grid">
			{
				channelsToFetch.map((channelId) => (
					<ChannelPreview channelId={channelId} />
				))
			}
		</ul>
	</main>
</Layout>

<style>
	small {
		font-size: small;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	a {
		color: white;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
